
<title>Edit Contact</title>

<br>

<%= form_tag "/contacts/#{@contact.id}", method: :patch do -%>
<br>
  <div>
    First Name: <input type="text" name="first_name" value="<%= @contact.first_name %>">
  </div>
  <br>
  <div>
    Middle Name: <input type="text" name="middle_name" value="<%= @contact.middle_name %>">
  </div>
  <br>
  <div>
    Last Name: <input type="text" name="last_name" value="<%= @contact.last_name %>">
  </div>
 <br>
  <div>
    Email: <input type="text" name="email" value="<%= @contact.email %>">
  </div>
  <br>
  <div>
    Phone Number: <input type="text" name="phone_number" value="<%= @contact.phone_number %>">
  </div>
  <div>
      <br>Bio:<br>
      <textarea name="bio" rows="10" cols="30"></textarea>
   </div>
 <br>
  <div>
    <input type="submit" value="Update Contact">
  </div>

<% end %>